<!DOCTYPE html>
<html>
<head>
	<title>Image Gallery - Upload Images</title>
	<meta charset="utf-8" />
</head>
<body>
	<h1>Upload Images</h1>
	<div style="display:block">
    <form action="/uploadImage" method="post" enctype="multipart/form-data">
        <label for="image">Select an image</label>
        <input type="file" id="image" name="image"/>
	<br/>
        <input type="submit" id="buttonUpload" value="Upload"/>
        <br/><br/>
    </form>
    <button type="button"><a href="/">Main Menu</a></button>
</div>
</body>
</html>
